<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#45315d">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/icon-192x192.png">
    <title>maangan.com - Landing Page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="manifest" href="/app.webmanifest">
</head>
<body>
<header tabindex="-1">
    <div tabindex="-1" class="flex content-space-beetwen align-center full-container header">
        <h1 tabindex="0" class="header-brand">maangan.com</h1>
        <a href="#/favorite" class="skip-link">Skip To Content</a>
        <nav class="flex content-end nav-menu nav-desktop">
            <span class="nav-item"><a href="/">Home</a></span>
            <span class="nav-item"><a href="#/favorite">Favorite</a></span>
            <span class="nav-item"><a href="https://github.com/masdikaid/">About Us</a></span>
        </nav>
        <button aria-label="burger menu" id="burger">☰</button>
    </div>
</header>
<nav id="nav-mobile" class="flex-column content-center align-center nav-menu nav-mobile">
    <span class="nav-item"><a href="/">Home</a></span>
    <span class="nav-item"><a href="#/favorite">Favorite</a></span>
    <span class="nav-item"><a href="https://github.com/masdikaid/">About Us</a></span>
</nav>
<main></main>
<footer class="flex-column content-end">
    <div class="footer-content">

    </div>

    <div class="flex content-center align-center footer-credit">
        <h3>Copyright © 2021 - maangan.com</h3>
    </div>
</footer>
</body>
</html>